@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.App {
  text-align: center;
  display: grid;
  place-content: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: 14px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

img.fortune-cookie {
  width: 400px;
  display: block;
  margin: auto;
}

.button {
  margin: 10px;
  background-color: orange;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: large;
  color: white;
}

.fortunes {
  margin-top: 50px;
  width: 600px;
}

.add-input {
  vertical-align: center;
}

.add-fortune-input { 
  width: 200px;
  height: 20px;
}

.fortune-card {
  background-color: rgb(223, 63, 0);
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  /* min-height: 50px; */
  /* display: innline; */
  /* place-items: center; */
  /* justify-content: left; */
  text-align: left;
  font-size: larger;
}

.fortune-card-button {
  margin: 0px 5px;
  display: inline;
  float: right;
}

.hidden {
  visibility: visible;
}

.show {
  visibility: hidden;
}

.cursive {
  font-family: 'Courgette', cursive;
}

input {
  min-width: 300px; 
}